@model ModelGenerator.Views.Creation.PreviewModel
@{
    <form method="post">
        <div class="container" style="height: 800px; overflow: scroll">
            <table class="table" style="height: 800px; overflow: scroll">
                <tr>
                    <th>№ п/п</th>
                    <th>Название угрозы</th>
                    <th>Объект воздействия</th>
                    <th>Источник угрозы</th>
                    <th>Коэф реализуемости Y</th>
                    <th>Опасность</th>
                    <th>Актуальность</th>
                </tr>
                @foreach (var line in @Model.Model)
                {
                    <tr>
                        <td>@line.Id</td>
                        <td>@line.ThreatName</td>
                        <td>@line.Target</td>
                        <td>@line.Source</td>
                        <td>@line.Y</td>
                        <td>@line.Danger</td>
                        <td>@line.isActual</td>
                    </tr>
                }
            </table>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <button class="btn  btn-secondary" asp-action="Cancel" asp-controller="Creation"> Отмена</button>
                <button class="btn  btn-secondary" asp-action="ThirdStepBack" asp-controller="Creation"> Назад</button>
            </div>
            <div class="col-6">
                <input name="Name" required placeholder="Название файла" class="form-control"/> <br/>
                <button class="btn  btn-secondary mt-1" asp-action="Download" asp-controller="Creation"> Скачать</button>
                <button class="btn  btn-secondary mt-1" asp-action="SaveModel" asp-controller="Creation"> Сохранить</button>
            </div>
        </div>
    </form>
}
