@using Microsoft.AspNetCore.Http
@model ModelGenerator.Views.Home.IndexModel

@{
    ViewData["Title"] = "Модели угроз";
}

    <h1>Созданные модели</h1>

    <form method="post">
        <table class="table">
            <thead>
            <tr>
                <th>Название</th>
                <th>Дата создания</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Models)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationTime)
                    </td>
                    <td>
                        @Html.ActionLink("Изменить", actionName: "PreviewExist", controllerName: "Creation", new{Id = item.Id}) |
                        @Html.ActionLink("Удалить", actionName: "DeleteExist", controllerName: "Creation", new { Id = item.Id }) |
                        @Html.ActionLink("Скачать", actionName: "DownloadExist", controllerName: "Creation", new { Id = item.Id })
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <input type="submit" class="btn  btn-secondary" asp-action="Start" asp-controller="Creation" value="Новая модель"/>
    </form>
